@model IEnumerable<Dados.Tarefa> 
@{
    ViewBag.Title = "Indexvazia";
}

<h2>To-Do List</h2>


<h4 style="font-weight:bold"> A lista está vazia por agora! Adicione alguma tarefa</h4>

<button id="criar" class="btn-default criar">Criar Tarefa</button>

<div id="container" style="background-color: white; border: 1px solid black; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); height: 550px; width: 550px; display: none; transition: display 2s ease-in-out">
    
  
  </div>

@Scripts.Render("~/bundles/jquery")
<script>

    $(function () {
        $("#criar").on("click", function () {
            $("#container").css("display", "block");
            $.post("Tarefas/Create", (data) => {
                $("#container").html(data);
            });
        });
    })
</script>