
@{
    ViewBag.Title = "Indexvazia";
}

<h1>Funcionarios</h1>

<p style="font-size:2rem;font-weight:bold;">Não há nenhum funcionário cadastrado</p>

<button>@Html.ActionLink("Cadastre aqui","Create")</button>

